<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-6level %date{dd/MM/yy HH:mm:ss} [%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
